<article id="chairs">
  <section id="main">
    <h1>
      <%=  link_to(Faculty.find(params[:faculty_id]).name, {:controller => '/admin/faculty', :action => 'edit', :faculty_id => params[:faculty_id]}, {:method => 'get'}) %> / <b><%=  link_to("Кафедры", {:controller => '/admin/faculty/chair', :action => 'index', :faculty_id => params[:faculty_id]}) %></b>
    </h1>
    <%= render(:partial => 'chairs') %>
    <p class="button">
      <%= button_to("Добавить", { :controller => 'admin/faculty/chair', :action => 'new', :faculty_id => params[:faculty_id]}, {:method => :get, :class => "new"}) %>
    </p>
  </section>
</article>
