<article id="institutes">
  <section id="main">
    <h1>
      <%=  link_to("Институты", {:controller => '/teacher/institute', :action => 'index'}) %>
    </h1>
    <%= render(:partial => 'institutes') %>
  </section>
</article>
