<article>
  <section id="main">
    <%= form_tag do %>
      <p>
        <label>Рапорт</label>
        <%= select_tag(:document_id, options_from_collection_for_select(Document.all, :id, :title), :class => 'select') %>
      </p>
      <p class="button"><%= submit_tag("Скачать") %></p>
    <% end %>
  </section>
</article>
