<article id="groups">
  <section id="main">
    <h1>
      <%=  link_to(Chair.find(params[:chair_id]).name, {:controller => '/admin/chair', :action => 'edit', :chair_id => params[:chair_id]}, {:method => 'get'}) %> / <b><%=  link_to("Группы", {:controller => '/admin/chair/group', :action => 'index', :chair_id => params[:chair_id]}) %></b>
    </h1>
    <%= render(:partial => 'groups') %>
    <p class="button">
      <%= button_to("Добавить", { :controller => 'admin/chair/group', :action => 'new', :chair_id => params[:chair_id]}, {:method => :get, :class => "new"}) %>
    </p>
  </section>
</article>

