<article id="chairs">
  <section id="main">
    <h1>
      <%=  link_to(Institute.find(params[:institute_id]).name, {:controller => '/teacher/institute', :action => 'show', :institute_id => params[:institute_id]}, {:method => 'get'}) %> / <b><%=  link_to("Кафедры", {:controller => '/teacher/institute/chair', :action => 'index', :institute_id => params[:institute_id]}) %></b>
    </h1>
    <%= render(:partial => 'chairs') %>
  </section>
</article>
