<html>
<head>
  <title>Регистрация</title>
  <%= stylesheet_link_tag "admin/register" %>
  <%= javascript_include_tag "jquery", "jquery_ujs", "jquery-ui", "admin/register" %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
</header>
<%= yield %>
</body>
</html>
