<article id="institutes">
  <section id="main">
    <h1>
      <%=  link_to("Администрирование", {:controller => '/admin', :action => 'home'}) %> / <b><%=  link_to("Институты", {:controller => '/admin/institute', :action => 'index'}) %></b>
    </h1>
    <%= render(:partial => 'institutes') %>
    <p class="button">
      <%= button_to("Добавить", { :controller => '/admin/institute', :action => 'new'}, {:method => :get, :class => "new"}) %>
    </p>
  </section>
</article>
