<article>
  <section id="main">
    <h1>
      <%=  link_to("Группы", {:controller => '/teacher/institute/faculty/chair/group', :action => 'index', :institute_id => params[:institute_id], :faculty_id => params[:faculty_id], :chair_id => params[:chair_id]}) %> / <b><%=  link_to(@group.number, {:controller => '/teacher/institute/faculty/chair/group', :action => 'show', :institute_id => parmas[:institute_id], :faculty_id => params[:faculty_id], :chair_id => params[:chair_id], :group_id => @group}) %></b>
    </h1>
    <ul>
      <li><label><%= @group.number %></label></li>
    </ul>
  </section>
</article>




