<article>
  <section id="main">
    <ul>
      <li><%= link_to("Воинкие звания", { :controller => '/admin/dictionary/military_rank', :action => 'index' })%></li>
      <li><%= link_to("Ученые звания", { :controller => '/admin/dictionary/scientific_rank', :action => 'index' })%></li>
      <li><%= link_to("Ученые степени", { :controller => '/admin/dictionary/scientific_degree', :action => 'index' })%></li>
      <li><%= link_to("Должности", { :controller => '/admin/dictionary/post', :action => 'index' })%></li>
    </ul>
  </section>
</article>