<article>
  <section id="main">
    <ul>
      <li><%= button_to("изменить", {:controller => '/admin/institute/faculty', :action => 'edit', :institute_id => params[:institute_id], :faculty_id => params[:faculty_id]}, {:method => :get, :class => "edit"})  %></li>
      <li><label><%= @faculty.name %></label></li>
    </ul>
    <ul>
      <li><%= link_to("Кафедры", { :controller => '/admin/institute/faculty/chair', :action => 'index', :institute_id => params[:institute_id], :faculty_id => params[:faculty_id] }) %></li>
      <li><%= link_to("Группы", { :controller => '/admin/institute/faculty/group', :action => 'index', :institute_id => params[:institute_id], :faculty_id => params[:faculty_id] }) %></li>
    </ul>
  </section>
</article>
