<article id ="register">
<section class="important_remark">
</section>
<section id="main">
  <%= form_tag do %>
    <h1>
      Регистрация
    </h1>
    <p>
    <label for="role">Тип пользователя</label>
      <%= select_tag(:role_id, options_from_collection_for_select(Role.all, :id, :name),  {:class => "select", :id => "role"}) %>
    </p>
    <p class="button">
      <%= submit_tag "Далее" %>
    </p>
  <% end %>
</section>
</article>
