<!DOCTYPE html>
<html>
<head>
  <title>Вход</title>
  <%= stylesheet_link_tag "user/login" %>
  <%= javascript_include_tag "jquery", "jquery_ujs", "jquery-ui", "user/login" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

</header>
<%= yield %>
</body>
</html>
