<html>
<head>
  <title>Регистрация</title>
  <%= stylesheet_link_tag "user/register" %>
  <%= javascript_include_tag "jquery", "jquery_ujs", "jquery-ui", "user/register" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>