<label for="group">Группа</label>
<%= select_tag(:group_id, options_from_collection_for_select(groups, :id, :number, session[:group_id]), {:class => "select", :id => "group", :prompt => "группа"}) %>
