<article>
  <section id="main">
    <h1>
      <%=  link_to("Группы", {:controller => '/teacher/group', :action => 'index'}) %> / <b><%=  link_to(@group.number, {:controller => '/teacher/group', :action => 'show', :group_id => @group}) %></b>
    </h1>
    <ul>
      <li><label><%= @group.number %></label></li>
    </ul>
  </section>
</article>
