<article id="groups">
  <section id="main">
    <h1>
      <%=  link_to("Группы", {:controller => '/teacher/group', :action => 'index'}) %>
    </h1>
    <%= render(:partial => 'groups') %>
  </section>
</article>

