<article>
  <section id="main">
    <h1>
      <%=  link_to("Кафедры", {:controller => '/teacher/chair', :action => 'index'}) %> / <b><%=  link_to(@chair.name, {:controller => '/teacher/chair', :action => 'show', :chair_id => @chair}) %></b>
    </h1>
    <ul>
      <li><label><%= @chair.name %></label></li>
    </ul>
    <ul>
      <li><%= link_to("Группы", { :controller => '/teacher/chair/group', :action => 'index', :chair_id => params[:chair_id] }) %></li>
    </ul>
  </section>
</article>

