<article id="new_post">
  <section id="main">
    <%= form_tag({:action => "new"}) do %>
        <h1>
          Добавить
        </h1>

        <p class="field">
          <label for="name" data-icon="u" > Должность </label>
          <%= text_field_tag("name", params[:name], {:placeholder => "начальник кафедры"})  %>
          <label for="name" id="error_name" class="error"><%= flash[:name] %></label>
        </p>

        <p class="button">
          <%= submit_tag "Добавить" %>
        </p>
    <% end %>
  </section>
</article>
